body{
    margin:0;
    padding:0;
    color:#fff;
    
}
header{
    width:100%;
    height:100px;
    background-color:#35424a;
    margin:0;
    display:flex;
    padding-left: -4px;
    
   /*position:absolute;*/
   
    border-bottom: 4px solid #e8491d;
    align-items:center;
    padding-left:4px;
    justify-content: space-around;
    align-items:center;
    
    
}
#div{
    font-size:xx-large;
    margin-left:4px;
    display:flex;
    left:4px;
}
.div{
    color:#e8491d;
}
a{
    color:#e8491d;
    border:none;
    padding:20px;
    text-decoration:none;
    font-size: x-large;
    
}
.div2{
    margin-left:4px;
}
.img{
    width:100%;
    height:400px;
    background-image: url('../images/showcase.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-attachment: fixed;
    background-position:center;
    text-align:center;
    align-items:center;
    justify-content: center;
    justify-content: space-around;
}

li{
    margin:4px;
}
#p{
    font-size: 65px;
    top:5%;
    left:30px;
    padding-top: 40px;
    padding-left:30px;
    padding-bottom: 25px;
    
}
#p2{
    margin-left:5%;
    left: 4%;
    font-size:20px;
    text-align:center;
}
.subscribe{
    width:100%;
    height:100px;
    display:flex;
    background-color:#35424a;
    align-items:center;
    text-align: center;
}
.subscribe> div{
    font-size:x-large;
    font-weight: bold;
   
    
}
button{
    background-color:#e8491d;
    color:#fff;
    width:90px;
    height:36px;
    padding:4px;
    
    
    border:none;
    
}
a{
    color:white;
}
a:hover,a:active{
    color:#e8491d;
}.current a{
    color:#e8491d;
}

.box-3{
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-around;
    
}
.box-3 >div{
    
    align-items:center;
    justify-content:center;
    
    width:20%;
    height:100%;
}
footer{
    width:100%;
    height:72px;
    background-color:#e8491d;
    color:white;
    text-align:center;
    justify-content: center;
    font-size:medium;
    align-items:center;
    display:flex;

}
#scale:hover{
    transform:scale(1.2,1.2);
    transition: 0.3s;
}
li:hover{
    transform:scale(1.02,1.02);
    font-size:xx-large;
    transition:0.3s;
}
form button:hover, button:hover{
    background-color:red;
    opacity: 1;
}